.realm{
	background-color: red;
	border: 2px solid black;
	height: 400px;
	width: 600px;
	margin: 0 auto;
	border-radius: 50px;
	overflow: hidden;
}

#pacman {
	width: 30px;
	height: 30px;
	position: relative;
	left: 20px;
	top: 5px;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Arial';
	position: relative;
	top: 100px;
}